<html>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
	<style>
	  body {
	    color: white;
	    background: black;
	  }
	</style>
	<title>$blog_title</title>
	<body>
		<h1>$blog_title</h1>
		    $latest_entry
		<hr>
		<div>
			<table style="width:100%">
			<col width="40%">
			<col width="50%">
			<col width="10%">
				<tr>
					<th align="left">Filename</th>
					<th align="left">Title</th>
					<th align="left">Date</th>
				<tr>
				$posts_table
			</table>
		</div>
	</body
</html
