<html>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		body {
			max-width: 50em;
			margin: 0 auto;
		}
		@media only screen and (max-width:768px) {
			body {
				max-width:100%;
			}
		}
	</style>
	<title>$blog_title</title>
	<body>
		<h1>$blog_title</h1>
		<hr>
		<div>
			<table style="width:100%">
			<col width="40%">
			<col width="50%">
			<col width="10%">
				<tr>
					<th align="left">Filename</th>
					<th align="left">Title</th>
					<th align="left">Date</th>
				<tr>
				$posts_table
			</table>
		</div>
	</body
</html
